@media screen and (min-width: 280px) and (max-width: 400px){
  .sale{
    height: 430px !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px){
  .sale{
    height: 470px !important;
  }
}

html,
body {
  font-family: "Manrope", sans-serif !important;
}

.logo {
  float: left;
  width: auto;
  height: 100px;
}

.navbar {
  padding-top: 20px !important;
}

#dropdownMenuLink,
#dropdownMenuLink:hover {
  color: white !important;
  font-size: 20px;
  text-decoration: none;
}

.jumbotron{
	background-color: transparent !important;
}

.background {
  background-image: url("../images/coffee-beans.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background h1 {
  color: white;
  padding: 10%;
  padding-left: 0;
  padding-bottom: 0;
  text-align: left;
  font-size: 75px;
  font-weight: 300;
}

.background h2{
	color: white;
	font-weight: 300;
}

.background h3{
  color: white;
  padding: 3%;
  padding-left: 0;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}

.hr {
	height: 2px;
	margin: 60px 0 30px 0;
	background: rgba(255, 255, 255, 0.2);
}

.site-footer a {
    color: white !important;
    text-decoration: none !important;
}

.card {
  	border: none !important;
  	background-color: transparent !important;
}

.sale{
	height: 330px;
	background-color: #FFA07A !important;
}

::placeholder {
  color: #b3b3b3;
}

.color {
  cursor: pointer;
  color: white;
}

.card{
  overflow: hidden;
  border-radius: 0 !important;
}

.sale-image {
  overflow: hidden;
}