.text-danger {
  display: none;
  font-size: 13px;
}

.wrong:focus {
  outline: 1px #dc354665 !important;
  box-shadow: 0 0 0 3px #dc354665 !important;
}

.wrong {
  border: 1px solid #dc3545 !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.blurred {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(8px);
  background-color: rgba(97, 97, 97, 0.603);
  z-index: 9000;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  display: none;
  z-index: 9999;
}

/* Animation Loaded */
.lds-dual-ring {
  padding-bottom: 5px;
  padding-top: 5px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 90px;
  height: 90px;
  margin: 0;
  border-radius: 50%;
  border: 9px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 280px) and (max-width: 400px){
  .container {
    width: 100% !important;
  }
  .box {
    padding: 20px !important;
  }
  .logo {
    height: 50px !important;
    width: auto;
  }
  .background h1 {
    font-size: 40px !important;
    padding-right: 0 !important;
  }
  .background h3 {
    text-align: center !important;
  }
  .col-md* {
    padding: 0 !important;
  }
  .col-sm-* {
    padding: 0 !important;
  }
  .col-xs-* {
    padding: 0 !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px){
  .container {
    width: 100% !important;
  }
  .logo {
    height: 70px !important;
    width: auto;
  }
  .box {
    padding: 20px !important;
  }
  .background h1 {
    font-size: 40px !important;
    padding-right: 0 !important;
  }
  .background h3 {
    text-align: center !important;
  }
  .col-md* {
    padding: 0 !important;
  }
  .col-sm-* {
    padding: 0 !important;
  }
  .col-xs-* {
    padding: 0 !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.box {
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.048) !important;
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 1%;
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #0275d8;
  color: #fff;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"] + .list-group-item:before {
  content: "\2022";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="radio"]:checked + .list-group-item {
  background-color: #0275d8;
  color: #fff;
}

.list-group input[type="radio"]:checked + .list-group-item:before {
  color: inherit;
}
