@media screen and (min-width: 280px) and (max-width: 400px) {
  .login-snip {
    padding: 20px 20px 20px 20px !important;
  }
  .card {
    width: auto !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 850px) {
  .login-snip {
    padding: 30px 40px 10px 40px !important;
  }
}

.text-danger {
  display: none;
  font-size: 13px;
}

/* Animation Loaded */
.lds-dual-ring {
  margin-bottom: 5px;
  margin-top: 5px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrong:focus {
  outline: none !important;
  box-shadow: 0 0 0 3px #dc354665 !important;
}

.login-snip {
  width: 100%;
  max-width: 440px;
  min-width: 400px;
  min-height: 600px;
  border-radius: 23px;
  padding: 45px;
  background: #301504ea;
}

.login-snip .login{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-snip .sign-up-form{
  display: none;
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none;
}

.login-snip .tab {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 5px;
  display: inline-block;
  cursor: pointer;
}

.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
  color: #bb6b00;
}

.login-space {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-space .group {
  margin-bottom: 15px;
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #fff !important;
  display: block;
}

.login-space .group .input{
  padding: 22px 15px !important;
  background: #c2c2c21c;
}

.login-space .group input[data-type="password"] {
  text-security: circle !important;
  -webkit-text-security: circle !important;
}

.login-space .group .label {
  color: rgb(197, 197, 197);
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-space .group .check:checked + label {
  color: #fff;
}

.login-space .group .check:checked + label .icon {
  background: #934b00;
}

*,
:after,
:before {
  box-sizing: border-box;
}