@media screen and (min-width: 860px) and (max-width: 1200px){
    html, body{
        height: auto !important;
    }
    .left{
        padding: 50px 50px 50px 18% !important;
    }
    .bg h1{
        font-size: 4rem !important;
    }
    .bg h3{
        font-size: 1.3rem !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 850px){ 
    html, body{
        height: auto !important;
    }
    .container { 
        width: 100% !important;
    }
    .logo{
        height: 80px !important;
        width: auto;
    }
    .left{
        padding: 20px 20px 20px 20px !important;
    }
    .right{
        height: auto !important;
    }
    .logo_pos{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .login-snip{
        min-width: 210px !important;
        border-radius: 0 !important;
    }
    .bg{
        border-radius: 0 !important;
    }
    .bg h1{
        font-size: 40px !important;
    }
    .bg h3{
        font-size: 1.3rem !important;
    }
    .col-md*{
        padding: 0 !important;
    }
    .col-sm-*{
        padding: 0 !important;
    }
    .col-xs-*{
        padding: 0 !important;
    }
}

@media screen and (min-width: 280px) and (max-width: 400px){
    html, body{
        height: auto !important;
    }
    .container { 
        width: 100% !important;
    }
    .logo {
        height: 70px !important;
        width: auto;
    }
    .left{
        width: auto !important;
        padding: 20px 20px 20px 20px !important;
    }
    .content{
        width: auto !important;
    }
    .right{
        height: auto !important;
        width: auto !important;
    }
    .login-snip{
        min-width: 210px !important;
        border-radius: 0 !important;
    }
    .form-control-lg{
        font-size: 1rem !important;
    }
    .logo_pos{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .bg{
        border-radius: 0 !important;
    }
    .bg h1{
        font-size: 2.5rem !important;
    }
    .bg h3{
        font-size: 1.1rem !important;
    }
    h1{
        font-size: 20px;
    }
    .col-md*{
        padding: 0 !important;
    }
    .col-sm*{
        padding: 0 !important;
    }
    .col-xs*{
        padding: 0 !important;
    }
}

.bg {
    background-image: url("../images/coffee-beans.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 25px 25px 0;
}

.bg h1{
    color: white;
    font-size: 5.2rem;
    font-weight: 300;
}

.bg h3{
    color: white;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
}

a{
    color: white !important;
    text-decoration: none !important;
}

.hr {
    height: 2px;
    background: rgba(255, 255, 255, 0.39)
}

html, body{
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
}

.left{
    height: 100%;
    padding: 60px 60px 60px 30%;
}

.right{
    height: 100%;
    width: 25%;
}

.content{
    height: 70%;
    width: 90%;
}