@media screen and (min-width: 400px) and (max-width: 850px){ 
    .container { 
        width: 100% !important;
    }
    .logo{
        height: 80px !important;
        width: auto;
    }
    .navbar{
        justify-content: center !important;
    }
    .background h1{
        font-size: 40px !important;
        text-align: center !important;
        padding-right: 0 !important;
    }
    .background h3{
        text-align: center !important;
    }
    .col-md*{
        padding: 0 !important;
    }
    .col-sm-*{
        padding: 0 !important;
    }
    .col-xs-*{
        padding: 0 !important;
    }
}

@media screen and (min-width: 280px) and (max-width: 400px){
    .container { 
        width: 100% !important;
    }
    .navbar{
        justify-content: center !important;
    }
    .logo {
        height: 70px !important;
        width: auto;
    }
    .form-control-lg{
        font-size: 1rem !important;
    }
    .background h1 {
        font-size: 40px !important;
        padding-right: 0 !important;
    }
    .background h3 {
        font-size: 18px !important;
    }
    h1{
        font-size: 20px;
    }
    .col-md*{
        padding: 0 !important;
    }
    .col-sm*{
        padding: 0 !important;
    }
    .col-xs*{
        padding: 0 !important;
    }
}

.hr {
    height: 2px;
    background: rgba(255, 255, 255, 0.39)
}