@media screen and (min-width: 860px) and (max-width: 1200px){
    html, body{
        height: auto !important;
    }
    .left{
        padding: 50px 50px 50px 18% !important;
    }
    .overlayLogo{
        top: -400px !important;
        right: -300px !important;
    }
    .art-left{
        width: 70% !important;
        font-size: 6rem !important;
        top: 100px !important;
        left: 100px !important;
    }
    .newsletter hr{
        display: none;
    }
    .bg h1{
        font-size: 4rem !important;
    }
    .bg h3{
        font-size: 1.3rem !important;
    }
    .bg{
        border-radius: 0 !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 850px){ 
    html, body{
        height: auto !important;
    }
    .container { 
        width: 100% !important;
    }
    .login-snip{
        border-radius: 0 !important;
    }
    .logo{
        height: 80px !important;
        width: auto;
    }
    .left{
        padding: 20px 20px 20px 20px !important;
    }
    .right{
        height: auto !important;
    }
    .logo_pos{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .login-snip{
        min-width: 210px !important;
    }
    .cc-left{
        height: 400px;
        border-radius: 0 !important;
    }
    .cc-right{
        border-radius: 0 !important;
    }
    .art-left{
        width: 70% !important;
        font-size: 3rem !important;
        top: 100px !important;
        left: 100px !important;
    }
    .art-right{
        margin-top: 13%;
        margin-bottom: 13%;
        font-size: 3rem !important;
    }
    .overlayLogo{
        top: -400px !important;
        right: -300px !important;
    }
    .newsletter{
        margin: 0 !important;
        border-radius: 0 !important;
    }
    .newsletter hr{
        display: none;
    }
    .sale{
        border-radius: 0 !important;
    }
    .bg{
        border-radius: 0 !important;
    }
    .bg h1{
        font-size: 40px !important;
    }
    .bg h2{
        font-size: 1.3rem !important;
    }
    .col-md*{
        padding: 0 !important;
    }
    .col-sm-*{
        padding: 0 !important;
    }
    .col-xs-*{
        padding: 0 !important;
    }
}

@media only screen and (min-width: 280px) and (max-width: 400px){
    html, body{
        height: auto !important;
    }
    .container { 
        width: 100% !important;
    }
    .logo {
        height: 70px !important;
        width: auto;
    }
    .login-snip{
        border-radius: 0 !important;
    }
    .newsletter hr{
        display: none;
    }
    .newsletter{
        margin: 0 !important;
        border-radius: 0 !important;
    }
    .left{
        width: auto !important;
        padding: 20px 20px 20px 20px !important;
    }
    .content{
        width: auto !important;
    }
    .right{
        height: auto !important;
        width: auto !important;
    }
    .login-snip{
        min-width: 210px !important;
    }
    .form-control-lg{
        font-size: 1rem !important;
    }
    .logo_pos{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .cc-left{
        height: 300px;
        border-radius: 0 !important;
    }
    .cc-right{
        border-radius: 0 !important;
    }
    .art-left{
        width: 60% !important;
        font-size: 2.5rem !important;
        top: 50px !important;
        left: 50px !important;
    }
    .art-right{
        margin-top: 13%;
        margin-bottom: 13%;
        font-size: 3rem !important;
    }
    .sale{
        border-radius: 0 !important;
    }
    .bg{
        border-radius: 0 !important;
    }
    .bg h1{
        font-size: 2.5rem !important;
    }
    .bg h2{
        font-size: 1.2rem !important;
    }
    h1{
        font-size: 20px;
    }
    .col-md*{
        padding: 0 !important;
    }
    .col-sm*{
        padding: 0 !important;
    }
    .col-xs*{
        padding: 0 !important;
    }
}

.bg {
    background-image: url("../images/main_coffee.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 30px 30px 0;
    border: none;
}

.bg h1{
    max-width: 800px;
    color: white;
    font-size: 5.5rem;
    font-weight: 300;
}

.bg h2{
    color: white;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
}

h2, h3{
    font-weight: 300 !important;
}

a{
    color: white !important;
    text-decoration: none !important;
}

.hr {
    height: 2px;
    background: rgba(255, 255, 255, 0.39)
}

html, body{
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.left{
    height: 100%;
    padding: 60px 60px 60px 25%;
}

.right{
    height: 100%;
    width: 25%;
}

.content{
    height: 80%;
    width: 90%;
}

.icons{
    width: 60px;
}

.features{
    min-height: 380px !important;
}

.img-section{
    width: 100%;
}

.cc-left{
    background-image: url("../images/coffee-beans.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    border: none;
    border-radius: 30px 0 0 0;
}

.cc-right{
    background-image: url("../images/cup.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    border: none;
    border-radius: 0 30px 0 0;
}

.art-left{
    width: 50%;
    font-family: 'Righteous', sans-serif;
    font-size: 6.5rem;
    font-weight: 500;
    position: relative;
    top: 150px;
    left: 150px;
}

.art-right{
    font-family: 'Bangers', cursive;
    font-size: 4.8rem;
    font-weight: 500;
}

.overlayLogo{
    width: 100%;
    z-index: -100;
    position: absolute;
    top: -200px;
    right: -200px;
}

.logoStyle{
    opacity: 0.1;
    transform: rotate(40deg);
    filter: invert(1);
    width: 1100px;
}

.newsletter{
    min-height: 350px;
    background-color: #690500;
    padding: 2%;
}

.newsletter hr{
    height: 1px;
    width: 30%;
    background-color: white;
}

.subEmail{
    width: 40% !important;
}

.subEmail:focus{
    outline: none !important;
    border-color: #bb6b00 !important;
    box-shadow: 0 0 0 2px #bb6b00 !important;
}

.subButton{
    color: white !important;
    background-color: #BB6B00 !important;
}

.subButton:focus{
    background-color: #BB6B00 !important;
}