@media screen and (min-width: 280px) and (max-width: 400px) {
  .login-snip {
    padding: 20px 20px 20px 20px !important;
  }
  .card {
    width: auto !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 850px) {
  .login-snip {
    padding: 30px 40px 10px 40px !important;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.blurred {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(8px);
  background-color: rgba(97, 97, 97, 0.603);
  z-index: 1000;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  display: none;
  z-index: 1500;
}

.chk {
  width: 250px;
}

.success-panel {
  backdrop-filter: blur(20px);
}

.signUpBg {
  background-image: url("/images/main_coffee.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.text-danger {
  display: none;
  font-size: 13px;
}

.wrong:focus {
  outline: none !important;
  box-shadow: 0 0 0 3px #dc354665 !important;
}

/* Animation Loaded */
.lds-dual-ring {
  margin-bottom: 5px;
  margin-top: 5px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-snip {
  width: 100%;
  border-radius: 23px;
  padding: 40px;
  background: #301504ea;
  backdrop-filter: blur(25px);
}

.login-space {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  color: #fff !important;
  display: block;
}

.login-space .group .input {
  padding: 22px 15px !important;
  background: #c2c2c21c;
}
