html,body{
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 40px !important;
}



.alert {
  margin-bottom: 0 !important;
}

.background {
  flex: 1;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.success {
  display: grid;
  place-items: center;
  flex: 4;
}

.foot{
  flex: 1;
}

@media screen and (min-width: 280px) and (max-width: 400px){
  .container {
    width: 100% !important;
  }
  .nobot{
    position: relative !important;
  }
  .logo {
      height: 70px !important;
      width: auto;
  }
  .list-group-item {
    padding: 0 !important;
  }
  .form-control-lg {
    font-size: 1rem !important;
  }
  .formobile {
    display: none !important;
  }
  .cost {
    margin-top: 15px;
  }
  .logo {
    height: 50px !important;
    width: auto;
  }
  h1 {
    font-size: 30px !important;
    padding-right: 0 !important;
  }
  .background h3 {
    text-align: center !important;
  }
  .col-md* {
    padding: 0 !important;
  }
  .col-sm-* {
    padding: 0 !important;
  }
  .col-xs-* {
    padding: 0 !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px){
  .container {
    width: 100% !important;
  }
  .navbar{
    justify-content: center !important;
  }
  .logo {
    height: 70px !important;
    width: auto;
  }
  h1 {
    font-size: 40px !important;
    padding-right: 0 !important;
  }
  h3 {
    text-align: center !important;
  }
  .col-md* {
    padding: 0 !important;
  }
  .col-sm-* {
    padding: 0 !important;
  }
  .col-xs-* {
    padding: 0 !important;
  }
}