<div class="newsletter">
	<div class="container p-lg-5 p-md-4 p-4">
		<div class="h-100 d-flex justify-content-center align-items-center mb-5">
			<hr class="col-xl-4">
			<h3 class="col-xl-4 text-white text-center">Chip Coffee Newsletter</h3>
			<hr class="col-xl-4">
		</div>
		<div class="h-100 d-flex justify-content-center align-items-center row p-4">
			<h6 class="mx-xl-0 mx-lg-0 mx-5 w-25 text-white text-left col-xl-5 col-12">Κάνε εγγραφή τώρα για να λαμβάνεις νέες προσφορές μέσω email.</h6>
			<input type="email" class="subEmail form-control form-control-lg mx-3 mt-xl-0 mt-lg-0 mt-md-0 mt-3 col-xl-4 col-12" id="emailNewsletter" placeholder="Email" required>
			<button type="click" class="subButton btn mainbtn btn-lg index mt-xl-0 mt-lg-0 mt-md-0 mt-2 col-xl-2 col-12" id="subscribe">Εγγραφή</button>
		</div>
	</div>
</div>