html,
body {
  background-color: #15181a;
  background-image: url("../../images/subtle-carbon.jpg") !important;
  font-family: "Manrope", sans-serif !important;
  color: white !important;
  -webkit-user-select: none;
  user-select: none;
}

.logout {
  position: absolute;
  bottom: 12%;
  left: 0;
  width: 100%;
}

.navbar {
  background-color: #1d2124 !important;
}

.sidebar {
  background-color: #292929;
  position: fixed;
  min-height: 100%;
  top: 117px;
  height: 100%;
  width: 12%;
}

.main {
  margin-top: 130px !important;
  margin-left: 12% !important;
  margin-right: 0% !important;
  max-width: 88% !important;
}

.logo {
  float: left;
  width: auto;
  height: 85px;
}

a:hover {
  color: #a76400 !important;
  text-decoration: none !important;
}

a {
  color: white !important;
}

.menu {
  color: black !important;
}

.card {
  background-color: transparent !important;
  border: 2px solid white !important;
}
