html, body{
    background-color: #15181a;
    background-image: url("../../images/subtle-carbon.jpg");
    font-family: 'Comfortaa', cursive !important;
    color: white !important;
    -webkit-user-select: none;
    user-select: none;
}

.logo{
    height: 380px;
    width: 380px;
}

#particles-js{
    height: 100%;
    width: 100%;
    position: absolute;
}

h1{
    font-size: 4.5rem !important;
}

.wrong:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px #dc354694 !important;
}

/* Animation Loaded */
.lds-dual-ring {
    margin-bottom: 5px;
    margin-top: 5px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}